* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    
    
}

header {
    color: white;
    background-color: #0a71c6;
    
}

.site-title {
    margin:0;
}
header #img-menu {
    width: 20%;
    max-width: 100%;
    height: auto;
    margin-left:50px;
}


header .nav-link {
    color: white;
}

header .navbar-brand {
    color: white;
}


.nav {
    margin-left: auto;
    
}

header a{
    font-size: 1.2rem;
    
}

footer {
    background-color: #464444;
}

 main {
    /* flex: 1; */
    /* padding: 2rem 0; */
    margin-top: 30rem;
} 

footer {
    background-color: #0a71c6;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

footer a{
   
    color: white;
    
}

footer a::before{
   
    color: white;
    
}

.section-title {
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    width: 50%;
}

h2.bigtitle {
    font-weight: 600;
    position: relative;
    text-align: center;
    font-size: 4.286rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* styles.css */
#slider {
    width: 100%;
    max-height: 60vh; /* Limita la altura del slider */
    overflow: hidden;
}

#slider img {
    object-fit: cover; /* Mantiene la proporción de las imágenes y las ajusta al contenedor */
}